body {
    background-color: #f8f8f8;
}

.module-table > * > tr:nth-child(even) {
    background-color: #f5f5f5;
}

.default-cursor {
    cursor: pointer;
}

.margin-bottom {
    margin-bottom: 5px;
}

.margin-top {
    margin-top: 5px;
}

.truncated {
    text-overflow: ellipsis;
    overflow: hidden
}

.button-throbber {
    height: 18px;
}

.uppercase {
    text-transform: uppercase;
}

.table-layout-fixed {
    table-layout: fixed;
}

.module-icon {
    display: inline;
    height: 24px;
    width: 24px;
}

.fixed-addon-width {
    min-width: 70px;
    text-align: left;
}

.fixed-addon-width-2 {
    min-width: 90px;
    text-align: left;
}

.fixed-addon-width-3 {
    min-width: 110px;
    text-align: left;
}

.fixed-width-200 {
    min-width: 200px;
}

.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000;
}

.image-small-18 {
    height: 18px;
}

.center-text {
    text-align: center;
}

.scrollable-pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

.log-pre {
    max-height: 30vw;
}

.btn-fixed-length {
    width: 70px;
}

.title-message {
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 9px;
    border-radius: 3px;
}

.padding-left {
    margin-left: 10px;
}

.select-inline {
    font-weight: normal;
}

.logout {
    cursor: pointer;
}

.module-nav li a {
    margin-left: 10px;
}

.module-nav li:hover {
    background-color: #eee;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar ul li {
    cursor: pointer;
    border-bottom: 1px solid #e7e7e7;
}

.sidebar .active {
    background-color: #eee;
}

.sidebar .active a {
    color: #555;
    font-weight: bold;
}

.sidebar, .module-content {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

@media(min-width:768px) {
    .module-content {
        position: absolute;
        width: calc(100% - 50px);
        margin-left: 50px;
        padding: 15px 30px;
        border-left: 1px solid #e7e7e7;
    }

    .sidebar {
        width: 200px;
        height: 100%;
        margin-left: -150px;
        float: left;
        z-index: 99;
        min-height: 50px;
        border-right: 1px solid #e7e7e7;
        position: relative;
    }

    .sidebar a {
        padding-right: 12px !important;
    }

    .sidebar .navbar-collapse, .sidebar .container-fluid {
        padding: 0;
    }

    .sidebar li {
        width: 100%;
    }

    /*.sidebar:hover,*/
    .sidebar-toggle {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .module-content {
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    .sidebar {
        margin-left: 0;
        float: left;
    }

    .sidebar-nav .module-text {
        visibility: hidden !important;
    }
}

.nav > li > a {
    padding: 13px 15px;
}

.navbar-header {
    width: 100%;
}

.navbar-top-links {
    margin-right: 5px;
    margin-left: 10px;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar {
    margin-bottom: 0;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.module-content {
    padding: 15px 15px;
    background-color: #fff;
}

.pointer {
    cursor: pointer;
}

.dropdown-menu {
    cursor: pointer;
}

.dropdown-menu-top {
    max-height: 300px !important;
    overflow-y: auto !important;
}

@media(max-width:768px) {
    .dropdown-menu-top {
        margin: auto !important;
        position: absolute !important;
        background-color: #fff !important;
        word-wrap: break-word !important;
        border: 1px solid #ccc !important;
        width: 300px !important;
        max-width: 300px !important;
    }

    .dropdown-menu-top li a {
        white-space: normal !important;
    }

    .dropdown-menu-logout {
        max-width: 50px !important;
    }

    .navbar-toggle {
        float: left;
        margin-top: 10px;
        margin-left: 15px;
    }

    .navbar-brand {
        padding: 15px 15px 15px 0;
    }

    .module-icon.pull-right {
        float: left !important;
        margin-right: 10px;
    }

    .tab-pane {
        padding: 15px !important;
    }
}

.login-logo {
    margin: 0 auto;
    padding-bottom: 10px;
    max-width: 150px;
}

.brand-logo {
    content: url('/img/logo.png');
    max-height: 30px;
    padding-bottom: 5px;
}

.brand-text::after {
    content: 'WiFi Pineapple';
    padding-top: 3px;
    padding-left: 5px;
    float: right;
}

#accordion .panel-heading .panel-title:after {
    content: url('/img/chevron_up.svg');
    width: 20px;
    float: right;
    color: grey;
}

#accordion .panel-heading.collapsed .panel-title:after {
    content: url('/img/chevron_down.svg');
}

.menu-toggle-icon {
    transform: rotate(-90deg);
}

.tab-pane {
    padding: 25px;
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 0 0 4px 4px;
}

.nav-tabs > li.active > a {
    font-weight: bold;
}

.nav-tabs > li > a {
    border-color: #eee #eee #ddd;
    background-color: #eeeeee78;
}

.sidebar-nav .module-text {
    text-align: center;
    visibility: visible;
}

/* Use this for menu auto open on hover
    .sidebar:hover {
        margin-left: 0;
    }
    .menu-toggle {
        display: none !important;
    }
*/
